[user]
	name = Minca Daniel Andrei
	email = mandrei17@gmail.com
	signingkey = 81DF875D
[commit]
	gpgsign = true
	template = /home/dminca/.git-commit-template.commit
[core]
	editor = vim
[push]
	default = simple
[status]
  submoduleSummary = true
