[user]
	name = Minca Daniel Andrei
	email = mandrei17@gmail.com
	signingkey = 81DF875D
[commit]
	gpgsign = true
	template = /home/dminca/.git-commit-template.commit
[core]
	editor = vim
  logallrefupdates = true
  sharedRepository = 0644
  pager = 'less $LESS -R'
  compression = 9
[push]
	default = simple
[status]
  submoduleSummary = true
[diff]
  submodule = log
[fetch]
  recurseSubmodules = on-demand
[receive]
  fsckObjects = true
  denyDeletes = true
  denyDeleteCurrent = true
  denyCurrentBranch = true
  denyNonFastForwards = true
[merge]
  log = true
[rebase]
  stat = true
[color]
  ui = auto
